<header class="header bg-light">
    <div class="container"><a class="visually-hidden-focusable" href="#content">Ga direct naar inhoud</a></div>
    <div class="container"><a class="visually-hidden-focusable" href="#sidenav">Ga direct naar zijmenu</a></div>
        
    <!-- Logo start -->
    <div class="logo-container">
        <div class="wrapper">
            <a href="/" aria-label="" id="logo-link">
                <img src="" alt="Logo" id="brand-logo" class="logo">
            </a>
        </div>
    </div>
    
    <!-- Logo eind -->
    
    <div class="titlebar">
        <div class="container">
            <div class="row">
                <!-- title start -->
                <div class="title col-md-7">
                    <span class="visually-hidden">U bevindt zich hier:</span>
                    <a href="/" id="root-title">Chefdog gov sample site</a>
                </div>
                <div class="user-menu col-md-5">
                    <div class="float-end">
                       Version: 0.1
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- Primary navigation bar start -->
    <nav id="navigation" aria-label="mainmenu">
        <div class="container">
            <ul>
                <li id="starten"><a href="../../starten/">Aan de slag</a></li>
                <li id="visueletaal"><a href="../../visuele-taal/typografie/">Visuele taal</a></li>
                <li id="samples"><a routerLink="samples">Samples</a></li>
                <li id="patronen"><a href="../../patronen/">Patronen</a></li>
                <li id="toegankelijkheid"><a href="../../toegankelijkheid/algemeen/">Toegankelijkheid</a></li>
            </ul>
        </div>
    </nav>
    </header>