.header {
    min-height: 120px;
    &.bg-light {
        .titlebar {
            background-color: $brand-color-1;
            color: $white;
            padding-top: 18px;
            padding-bottom: 18px;
            .title {
                font-size: 1.375rem;
                color:$white;
                a {
                    text-decoration: none;
                    color: $white;
                }
            }
        }

        .navbar-brand {
            color: $white;
        }
    }
    .logo-container {
        display: flex;
        .wrapper {
            margin: auto;
        }
    }
}
.logo {
    width: 250px;
    height: 125px;
    display:block;
}