<nav class="side-menu" aria-label="Componenten submenu" id="sidenav">
    <h2 class="category" id="menu-algemeen">Algemeen</h2>
    <ul class="list-unstyled" aria-labelledby="menu-algemeen">
        <li id="cards">
            <a href="../../componenten/cards/">Cards</a>
        </li>
        

    </ul>

    <h2 class="category" id="menu-forms">Forms</h2>
    <ul class="list-unstyled" aria-labelledby="menu-forms">
        <li id="form-checkbox">
            <a routerLink="/samples/forms/checkbox">Checkbox</a>
        </li>
        <li id="form-markdown">
            <a routerLink="/samples/forms/markdown">Markdown</a>
        </li>
        

    </ul>
</nav>